services:
  valkey:
    image: valkey/valkey:latest
    restart: always
    container_name: valkey
    command: valkey-server --port 6379
    healthcheck:
      test: ['CMD-SHELL', 'valkey-cli ping || exit 1']
      interval: 5s
      retries: 5

  gork:
    build: .
    container_name: gork
    depends_on:
      valkey:
        condition: service_healthy
    environment:
      - GORK_TOKEN=${GORK_TOKEN}
      - GORK_HOSTS=${GORK_HOSTS}
      - GORK_PERMITTED_CHANNELS=${GORK_PERMITTED_CHANNELS:-[]}
      - GORK_MAINTENANCE_GUILDS=${GORK_MAINTENANCE_GUILDS:-[]}
      - GORK_MAINTENANCE_MODE=${GORK_MAINTENANCE_MODE:-0}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED:-0}
    restart: unless-stopped
    develop:
      watch:
        - action: rebuild
          path: ./src/gork
